attr==0.3.2
BeautifulSoup==3.2.2
brotli==1.2.0
brotlicffi==1.2.0.0
cchardet==2.1.7
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.4
filelock==3.20.1
h2==4.3.0
html5lib==1.1
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==9.4.0
ipywidgets==8.1.7
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml_html_clean==0.4.3
Pillow==12.0.0
protobuf==6.33.2
pyodide==0.0.2
pyOpenSSL==25.3.0
pytest==9.0.2
redis==7.1.0
simplejson==3.20.2
Sphinx==9.0.4
thread==2.0.6
tornado==6.5.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.25.0
